.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    resize: vertical;
    border: 1px solid #ccc;
  }
  
  
  .form-container button {
    font: inherit;
    cursor: pointer;
    background: #230052;
    border: 1px solid #230052;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 20px;
  }
  .form-container button:hover {
    background-color: #460897;
  }
  